body {
    background-image: url(beautiful.webp);
}
body {
    background-image: url(beautiful.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}